<a href="https://colab.research.google.com/github/weifong410180397/weifong410180397/blob/main/1217.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [18]:
url = 'https://raw.githubusercontent.com/weifong410180397/weifong410180397/refs/heads/main/0101_3.csv'

df1 = pd.read_csv(url, index_col=0, encoding='unicode_escape')
df1

,YYYY/MM,Quarter,consolidation,Month,Currency,Total current tax assets,Total deferred tax assets,Total assets,Total current tax liabilities,Total equity,Total liabilities,Earnings Before Interest and Tax,Total interest income,Total comprehensive income,Total operating expense,Total retained earnings
ï»¿CO_ID,,,,,,,,,,,,,,,,
6031 LINE Bank,2024/09,3,N,9,NTD,"63,099","1,488,396","79,728,276",0,"11,492,590","68,235,686","-148,952","1,392,477","-716,016","1,520,691","-3,473,908"
6039 Next Bank,2024/09,3,N,9,NTD,"38,369","971,156","41,603,098",0,"8,764,226","32,838,872","-415,622","509,111","-582,850","821,033","-1,240,145"

In [12]:
df1.columns

Index(['YYYY/MM', 'Quarter', 'consolidation', 'Month', 'Currency',
       'Total current tax assets', 'Total deferred tax assets', 'Total assets',
       'Total current tax liabilities', 'Total equity', 'Total liabilities',
       'Earnings Before Interest and Tax', 'Total interest income',
       'Total comprehensive income', 'Total operating expense',
       'Total retained earnings'],
      dtype='object')

In [26]:
# 先檢查每個欄位是否為字串，若是字串再移除逗號並轉為數字
def safe_convert(value):
    if isinstance(value, str):
        return float(value.replace(",", ""))
    else:
        return float(value)

# 計算公式
X1 = safe_convert(df1.loc['6031 LINE Bank', 'Total current tax assets'])
X2 = safe_convert(df1.loc['6031 LINE Bank', 'Total current tax liabilities'])
X3 = safe_convert(df1.loc['6031 LINE Bank', 'Total assets'])
X4 = safe_convert(df1.loc['6031 LINE Bank', 'Total retained earnings'])
X5 = safe_convert(df1.loc['6031 LINE Bank', 'Earnings Before Interest and Tax'])
X6 = safe_convert(df1.loc['6031 LINE Bank', 'Total equity'])
X7 = X3 - X6
X8 = safe_convert(df1.loc['6031 LINE Bank', 'Total comprehensive income'])


A = ( X1 - X2 ) / X3
B = X4 / X3
C = X5 / X3
D = X6 / X7
E = X8 / X3

Z_score_LB = 1.2*A + 1.4*B + 3.3*C + 0.6*D + 1.0*E
Z_score_LB

0.025858167750710016

In [28]:
X1 = safe_convert(df1.loc['6039 Next Bank', 'Total current tax assets'])
X2 = safe_convert(df1.loc['6039 Next Bank', 'Total current tax liabilities'])
X3 = safe_convert(df1.loc['6039 Next Bank', 'Total assets'])
X4 = safe_convert(df1.loc['6039 Next Bank', 'Total retained earnings'])
X5 = safe_convert(df1.loc['6039 Next Bank', 'Earnings Before Interest and Tax'])
X6 = safe_convert(df1.loc['6039 Next Bank', 'Total equity'])
X7 = X3 - X6
X8 = safe_convert(df1.loc['6039 Next Bank', 'Total comprehensive income'])


A = ( X1 - X2 ) / X3
B = X4 / X3
C = X5 / X3
D = X6 / X7
E = X8 / X3

Z_score_NB = 1.2*A + 1.4*B + 3.3*C + 0.6*D + 1.0*E
Z_score_NB

0.07252827325788766